/*******************FONT FAMILY***********************************************/
@font-face {
  font-family: "textfont";
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

/*************************************************************************************/
/*grid containerfor brands*/
.grid-container {
  max-width: 100%;
  width: 100%;
}

    /*-- our cleafix hack -- */
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 0em;
}

.col-1{ width: 25%;    }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.col-7{ width: 25%; }
.col-8{ width: 26%; }
/***************************************************************************************/

/**custom columns**/
.col-1-custom {
  width: 11.1111111111%;
}

.col-2-uc {
  width:33.33%;
}
.col-2-uc img {
  max-width: 50%;
  display: block;
  margin: auto;
  margin-top: 2em;
}

/*.col-11-custom p {
  margin-left: 12%;
  margin-top: 11.2%;

  transform: rotate(90deg);
  transform-origin: left top 0;
}*/


.featured {
  position: relative;
  margin: auto;
  margin-top: 3em;
  width: 45%;
}
.featured a img {
  max-width: 100%;

  border: solid 2px #e2e2d8;
  box-shadow: 7px 7px 0 0 #e2e2d8;
}

.featured p {
  font-family: "textfont";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
}

#feature-caption {
  position: absolute;
  top: 2em;
  right: -9.5em;

  transform: rotate(90deg);
  transform-origin: left top 0;
}

#shoe-feature {
  margin-top:2em;
  text-align: center;
}


/*************************************************************************************************/
body {
  margin: 0;
  color: white;
}

#index-featured {
  background-color: #374b42;
  height: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2.5em;
}

.navbar a {
  font-family: "textfont";
  display: inline-block;
  color: white;
  margin: 1.4em;

  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

#navbar-float-right {
  position: relative;
  float: right;
}

/*************************************************************************************/

.upcoming-release {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
}

.upcoming-release p {
  color: black;
  text-align: center;

  font-family: VCROSDMono;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #000000
}

.upcoming-release div a img {
  margin-bottom: 2em;
  width: 100%;
}

[class*='item-header-'] {
 font-size: 13px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: 1px;
 text-align: center;
 color: #000000;
}

[class*='item-date-'] {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #848484;
}


/********************************************************************************************/
/**search brand**/

.row-1 {
  margin: 1.5em;
  text-align: center;
}

.search-brand  {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  background: #f5f5f5;
}

.search-brand p {
  margin-bottom: 2em;
  text-align: center;
  color: black;
  position: relative;

  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #000000;
}

.search-brand a {
  color: black;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  text-align: center;
  margin: 2em;
  position: relative;
}

#brand-select-img {
  background: url("css-img/brand-select-adidas.png");
  background-size: 100%;
  width: 341px;
  height: 230px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
}

/******************************************************************************************************/

.footer {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: black;
  text-align: center;
}

.footer h1 {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.footer p {
  max-width: 33.33%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
  color: #848484;
  margin-top: 2em;
  margin-bottom: 2em;
}

/*********************************************/
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

label {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: center;
  color: black;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

}

/* Modal Content/Box */
.modal-content {
    background-image: url("css-img/user-bg.png");
    background-size: cover;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
